<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/lodash/dist/lodash.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/restangular/dist/restangular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/angular-facebook/lib/angular-facebook.js"></script>
  <script src="/bower_components/ngstorage/ngStorage.min.js"></script>

  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/angularjs-scroll-glue/src/scrollglue.js"></script>
  <!--- TRIANGLIFY
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/bower_components/trianglify/trianglify.min.js"></script>
  -->
  <script src="/js/app.js"></script>
  <script src="/js/app-states.js"></script>
  <script src="/js/controllers/user.js"></script>
  <script src="/js/controllers/main.js"></script>
  <script src="/js/controllers/auth.js"></script>
  <script src="/js/controllers/room.js"></script>
  <script src="/js/controllers/post.js"></script>
  <script src="/js/controllers/search.js"></script>
  
  <!-- <script type="text/javascript">
    // use .on() to add a listener. you can add as many listeners as you want.
    announce.on('notifications', function(data){
        alert("Notification received");
        console.log("Notification received");
    }).init();
    // .init() will authenticate against the announce.js server, and open the WebSocket connection.
    console.log("Announce.js inited");
  </script> -->
</head>
<body ng-app="socialBattle" ng-controller="Main">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">SocialBattle</a>
      </div>

      <div class="collapse navbar-collapse">
          <form class="navbar-form navbar-left" role="search" ng-controller="Search">
            <div class="form-group">
              <input type="text"
                class="form-control"
                ng-model="searchForm.query"
                ng-keyup="keypressed($event)"
                name="query"
                autocomplete="off"
                placeholder="Search">
            </div>
            <ul class="nav navbar-nav"
                ng-if="searching && (results.rooms.length > 0 || results.users.length > 0)">
              <li class="dropdown open">
                <ul class="dropdown-menu">
                  <li ng-repeat="u in results.users">
                      <a ui-sref="user({username: u.username})" ng-click="submit()">{{ u.username }}</a>
                  </li>
                  <li class="divider" ng-if="results.rooms.length > 0 && results.users.length > 0">Rooms</li>
                  <li ng-repeat="r in results.rooms">
                      <a href="" ng-click="submit()">{{ r.name }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </form>

        <ul class="nav navbar-nav navbar-right" ng-show="$storage.logged">
          <li><p class="navbar-text"><a ui-sref="user.posts({ username: $storage.user.username})" class="navbar-link">
            {{ $storage.user.username }}</a>#<a
            ui-sref="character({ name: $storage.character.name})" class="navbar-link">{{ $storage.character.name }}</a>
            </p>
          </li>
          <li><button type="button" class="btn btn-danger navbar-btn" data-ng-click="logout()">Log out</button></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

    <!--- <div class="row show-grid">
      <div class="col-md-12" style="height: 50px, background-image: {{triang}}"></div>
    </div> -->
  </nav>

  <div class="container-fluid">
  <div class="row" ng-if="$storage.logged">
    <div class="col-md-2" ng-controller="Rooms">
      <nav class=" navbar navbar-default" role="navigation">
        <!-- room bar -->
        <ul class="nav nav-pills nav-stacked">
          <li class="disabled"><a href="#">PVE</a></li>
          <li ng-repeat="pve in pverooms"><a ui-sref="pveroom({room_name: pve.slug})">{{ pve.name }}</a></li>
          <li class="divider"></li>
          <li class="disabled"><a href="#">RELAX</a></li>
          <li ng-repeat="relax in relaxrooms"><a ui-sref="relaxroom.posts({room_name: relax.slug})">{{ relax.name }}</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10">
      <div ui-view></div>
    </div>
  </div> 
  </div>

  <div ui-view ng-if="!$storage.logged"></div>
</body>
</html>