<nav class="navbar navbar-default" role="navigation">

  <script type="text/ng-template" id="selectCharacterModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Please select a character or create a new one:</h3>
    </div>
    <div class="modal-body">
      <alert class="text-center" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg | json}}
      </alert>
      <ul>
        <li ng-repeat="character in characters">
          <a href="" ng-click="select(character)">{{ character.name }}</a>
        </li>
      </ul>

      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="characterForm.name" name="name" />
           <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="create_character()">Create</button>
          </span>
        </div>
      </div>
    </div>
  </script>

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="unlogged">SocialBattle</a>
    </div>

    <div class="collapse navbar-collapse">

        <script type="text/ng-template" id="customTemplate.html">
          <a ui-sref="user({username: match.model.username})">
              <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
          </a>
        </script>

        <form class="navbar-form navbar-left" role="search" ng-controller="Search">
          <div class="form-group">
            <input type="text"
              class="form-control"
              ng-model="searchForm.query"
              ng-keyup="keypressed($event)"
              name="query"
              autocomplete="off"
              typeahead="user.username for user in results"
              typeahead-template-url="customTemplate.html"
              placeholder="Search">
          </div>
        </form>

      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text"><a ui-sref="user.posts({username: username})" class="navbar-link">
          {{ username }}</a>#<a
          ui-sref="character.inventory({ name: $storage.character.name })" class="navbar-link">{{ $storage.character.name }}
          </a>
          </p>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-envelope"></span>  <span class="badge">{{no_unread}}</span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="n in notifications">
              <a class="notification" notification="n"></a>
            </li>
            <li class="divider"></li>
            <li class="text-center"><a ui-sref="user.notifications()">Show all</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Settings <span class="glyphicon glyphicon-wrench"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-if="!facebook"><a href="" class="text-primary disabled" data-ng-click="ass_facebook()">Connect with Facebook</a></li>
            <li class="text-danger"><a href="" ng-click="logout()">Log out</a></li>
            <li class="text-success">
              <a href="{{devcenter_url}}">DevCenter</a>
            </li>
          </ul>
        </li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <!--- <div class="row show-grid">
    <div class="col-md-12" style="height: 50px, background-image: {{triang}}"></div>
  </div> -->
</nav>

<div class="container-fluid">
<div class="row">
  <div class="col-md-2" ng-controller="Rooms">
    <nav class=" navbar navbar-default" role="navigation">
      <!-- room bar -->
      <ul class="nav nav-pills nav-stacked">
        <li class="disabled"><a href="">PVE</a></li>
        <li ng-repeat="pve in pverooms">
          <a ui-sref="pveroom({room_name: pve.slug})">{{ pve.name }}</a>
        </li>
        <li class="divider"></li>
        <li class="disabled"><a href="">RELAX</a></li>
        <li ng-repeat="relax in relaxrooms">
          <a ui-sref="relaxroom.posts({room_name: relax.slug})">{{ relax.name }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-10">
    <div ui-view></div>
  </div>
</div> 
</div>