Django==1.6.4
Markdown==2.4
MySQL-python==1.2.5
Pillow==2.4.0
Unidecode==0.04.14
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.17
celery==3.1.11
dj-database-url==0.3.0
dj-static==0.0.5
django-celery==3.1.10
django-cors-headers==0.12
django-toolbelt==0.0.1
django-uuslug==1.0.2
djangorestframework==2.3.13
gunicorn==18.0
kombu==3.0.16
psycopg2==2.5.2
pystache==0.5.3
python-slugify==0.0.7
pytz==2014.2
static==1.0.2
wsgiref==0.1.2
