<nav class="navbar">
<div class="row">
  <div class="col-md-2"><img class="img-thumbnail" ng-src="{{character.img}}"></div>
  <div class="col-md-4">
    <div class="row">
      <h3 style="margin-top: 0">{{ character.name }} <small>level {{ character.level }}</small></h3>
    </div>
    <div class="row">
      <strong>HP</strong>: {{ character.curr_hp }}/{{ character.max_hp }}
    </div>
    <div class="row">
      <strong>MP</strong>: {{ character.curr_mp }}/{{ character.max_mp }}
    </div>
  </div>
  <div class="col-md-3">
    <ul>
      <li popover="Your physical attack, calculated from your equipped weapon" popover-trigger="mouseenter" popover-placement="left"><strong>ATK</strong>: {{ character.atk }}</li>
      <li popover="Your physical strength" popover-trigger="mouseenter" popover-placement="left">
        <strong>STR</strong>: {{ character.stre }}</li>
      <li popover="Your magical strength" popover-trigger="mouseenter" popover-placement="left">
        <strong>MAG</strong>: {{ character.mag }}</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li popover="Your physical defense, calculated from your equipped armor" popover-trigger="mouseenter" popover-placement="left"><strong>DEF</strong>: {{ character.defense }}</li>
      <li popover="Your magical defense, calculated from your equipped armor" popover-trigger="mouseenter" popover-placement="left"><strong>MDEF</strong>: {{ character.mdefense }}</li>
      <li popover="Your speed, the time spent to use an ability depends on it" popover-trigger="mouseenter" popover-placement="left"><strong>SPD</strong>: {{ character.spd }}</li>
    </ul>
  </div>
</div>
<br/>
<div class="row">
  <tabset justified="true">
    <tab><tab-heading>
      <a ui-sref="character.abilities">Abilities</a>
    </tab-heading></tab>
    <tab><tab-heading>
      <a ui-sref="character.inventory">Inventory</a>
    </tab-heading></tab>
  </ul>
</div>
</nav>

<div ui-view></div>