
<button type="button" class="btn btn-primary" data-ng-click="getLoginStatus()">Login with Facebook</button>

<form ng-submit="signin()">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="signinForm.username" name="username" placeholder="Username"/>
		<input type="password" class="form-control" ng-model="signinForm.password" name="password" placeholder="Password"/>
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
</form>

<form ng-submit="signup()">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="signupForm.username" name="username" placeholder="Username"  />
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input type="text" class="form-control" ng-model="signupForm.email" name="email" placeholder="E-mail" />
		</div>
		<input type="text" class="form-control" ng-model="signupForm.password" name="password" placeholder="Password" />
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
</form>
<div ui-view></div>