<alert class="text-center" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  {{alert.msg | json}}
</alert>

<form class="form jumbotron" ng-submit="post()" ng-if="can_post">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="postForm.content" name="content" placeholder="Post" />
        <span class="input-group-btn">
           <button type="submit" class="btn btn-default">Post</button>
        </span>
      </div>
    </div>

    <!-- EXCHANGE -->
    <div class="row">
      <div class="col-md-6">
        <!-- give -->
        <h5 class="text-danger text-center">
          <strong>GIVE</strong>
          <a href="" ng-click="plus_given()"><span class="glyphicon glyphicon-plus"></span></a>
        </h5>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="postForm.give_guils" name="give_guils"
            placeholder="Guils I give"/>
        </div>

        
        <div class="form-group row" ng-repeat="exchange in postForm.exchanged_items track by $index"
          ng-if="exchange.given">
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="exchange.item_name"
            placeholder="I give you"
            typeahead="item.item.name for item in sell_items | filter:$viewValue"
            typeahead-on-select="select_given_item($item, $model, $label, $index)" 
            autocomplete="off"/>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" ng-model="exchange.quantity"
            placeholder="Qt." />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <!-- receive -->
        <h5 class="text-success text-center">
          <strong>RECEIVE</strong>
          <a href="" ng-click="plus_received()"><span class="glyphicon glyphicon-plus"></span></a>
        </h5>

        <div class="form-group">
          <input type="text" class="form-control" ng-model="postForm.receive_guils" name="receive_guils"
            placeholder="Guils I want to receive" />
        </div>
        <div class="form-group row" ng-repeat="exchange in postForm.exchanged_items track by $index"
          ng-if="!exchange.given">
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="exchange.item_name"
              ng-keyup="keypressed($event, $index)"
              typeahead="item.name for item in searched_items"
              typeahead-on-select="select_received_item($item, $model, $label, $index)" 
              placeholder="You give me" />
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" ng-model="exchange.quantity"
              placeholder="Qt." />
          </div>
        </div>
      </div>
    </div>
    
</form>

<p class="text-center">
  <button class="btn btn-warning" ng-if="new_posts.length > 0" ng-click="add_new_posts()">
    NEW POSTS <span class="badge">{{new_posts.length}}</span>
  </button>
</p>

<div class="row" ng-repeat="post in posts">
  <post post="post" ng-controller="Post"></post>
</div>

<div>
  <p class="text-center"><a href="" ng-click="next_page()" ng-if="next">Show more</a></p>
</div>