<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h3 ng-if="fighting" class="text-center text-muted" style="text-transform: uppercase;">{{mob.name}} - {{mob.level}}</h3>
      <progressbar ng-if="fighting" max="mob.max_hp" value="mob.curr_hp" type="danger"></progressbar>
    </div>
    <div class="col-md-6">
      <h3 class="text-center text-muted" style="text-transform: uppercase;">{{character.name}} - {{character.level}}</h3>
      <div class="row">
        <div class="col-md-9">
          <progressbar max="character.max_hp" value="character.curr_hp" type="success">
            <i>HP:</i> {{character.curr_hp}}/<strong>{{character.max_hp}}</strong>
          </progressbar>
        </div>
        <div class="col-md-3">
          <progressbar max="character.max_mp" value="character.curr_mp" type="info">
            <i>MP:</i> {{character.curr_mp}}/<strong>{{character.max_mp}}</strong>
          </progressbar>
        </div>
      </div>
    </div>
  </div>

  <progressbar max="max" value="progr" type="warning"><strong>ATB</strong></progressbar>

  <div class="row">
    <div class="col-md-2" style="height: 300px">
      <img ng-if="fighting" class="img-thumbnail" ng-src="{{ mob.img }}">
    </div>

    <div class="col-md-8">
      <div scroll-glue style="overflow:auto; height: 300px">
        <div class="container-fluid">
          <div class="row" ng-repeat="msg in messages">

            <div ng-if="msg.from_mob"> <!-- MOB -->
              <div class="col-md-6">
                <div class="alert alert-danger text-left">
                  <strong>{{ msg.attacker }}</strong> uses <strong>{{ msg.ability }}</strong> on <strong>{{ msg.attacked }}</strong>: <strong>{{ msg.dmg }}</strong>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>

            <div ng-if="msg.from_character"> <!-- CHARACTER -->
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <div class="alert alert-success text-right">
                  <strong>{{ msg.attacker }}</strong> uses <strong>{{ msg.ability }}</strong> on <strong>{{ msg.attacked }}</strong>: <strong>{{msg.dmg}}</strong>
                </div>
              </div>
            </div>

            <div ng-if="msg.info"> <!-- INFO -->
              <div class="col-md-12">
                <div class="alert alert-warning text-center">
                  {{ msg.content }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2" style="overflow:auto; height: 300px">
      <img class="img-thumbnail" ng-src="{{ character.img }}">
      <ul ng-if="action == 'ABILITY'" class="nav nav-pills nav-stacked">
        <li class="disabled"><a href="">ABILITIES</a></li>
        <li ng-repeat="ability in abilities">
          <a href="" ng-click="abilityForm.ability = ability.name"
            popover="{{ability.description}}" popover-trigger="mouseenter">
            {{ ability.name }}</a>
        </li>
      </ul>

      <ul ng-if="action == 'ITEM'" class="nav nav-pills nav-stacked">
        <li class="disabled"><a href="">ITEMS</a></li>
        <li ng-repeat="item in items">
          <a href="" ng-click="itemForm.item = item.item.name"
            popover="{{item.item.description}}" popover-trigger="mouseenter">
            {{ item.item.name }} x{{ item.quantity }}</a>
        </li>
      </ul>

      <ul class="nav nav-pills nav-stacked">
        <li class="disabled"><a href="">WEAPONS</a></li>
        <li ng-repeat="weapon in weapons">
          <a href="" ng-click="equip(weapon, true)"
            popover="{{weapon.item.description}}" popover-trigger="mouseenter">
            {{ weapon.item.name }} <span ng-if="weapon.equipped" class="glyphicon glyphicon-ok"></span></a>
        </li>
      </ul>

      <ul class="nav nav-pills nav-stacked">
        <li class="disabled"><a href="">ARMORS</a></li>
        <li ng-repeat="armor in armors">
          <a href="" ng-click="equip(armor, false)"
            popover="{{armor.item.description}}" popover-trigger="mouseenter">
            {{ armor.item.name }} <span ng-if="armor.equipped" class="glyphicon glyphicon-ok"></span></a>
        </li>
      </ul>

    </div>

  </div>

  <form class="form" ng-if="action == 'ABILITY' && fighting" ng-submit="attack()">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="toggle_action()">{{ action }}</button>
        </span>
        <input  autocomplete="off" type="text" class="form-control"
          typeahead="ability.name for ability in abilities | filter:$viewValue"
          ng-model="abilityForm.ability"
          name="ability" autofocus/>

        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="swap_target()" tooltip="Swap target">
            {{target.name}} <span class="glyphicon glyphicon-screenshot"></span>
          </button>
        </span>

      </div>
    </div>
  </form>

  <form class="form" ng-if="action == 'ITEM' && fighting" ng-submit="use_item()">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="toggle_action()">{{ action }}</button>
        </span>

        <input  autocomplete="off" type="text" class="form-control"
        typeahead="item.item.name for item in items | filter:$viewValue"
        ng-model="itemForm.item"
        name="item" autofocus/>
      </div>
    </div>
  </form>

  <script type="text/ng-template" id="spawnModal.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ room }}</h3>
        </div>
        <div class="modal-body">
        <div class="well">A wild <strong>{{ mob }}</strong> appears...</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="start_fight()">FIGHT!</button>
        </div>
  </script>

  <script type="text/ng-template" id="winModal.html">
        <div class="modal-header">
            <h3 class="modal-title">You defeated {{mob}}!</h3>
        </div>
        <div class="modal-body">
        <div><alert class="text-center" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg | json}}</alert></div>
        <div class="well">
          <ul>
            DROPPED:
            <li ng-repeat="item in end.dropped">
              <a href="" popover="{{item.description}}" popover-trigger="mouseenter"
              popover-placement="right">{{ item.name }}</a>
            </li>
          </ul>
        <strong>Level</strong>: {{end.level}}, 
        <strong>EXP</strong>: {{end.exp_gain}}, 
        <strong>AP</strong>: {{end.ap_gain}}, 
        <strong>GUIL</strong>: {{end.guils_gain}}
        </div>

        <div class="modal-footer">
          <button id="share-fb-button" class="btn btn-primary" ng-click="share()">Share with Facebook</button>
          <a href="https://twitter.com/share?hashtags=socialbattlegame&text={{ tweet_text }}&url=http://www.socialbattle.fake.com" class="btn btn-info">Tweet</a>
          <button class="btn btn-error" ng-click="close()">Keep on fighting</button>
        </div>
  </script>

  <script type="text/ng-template" id="loseModal.html">
        <div class="modal-header">
            <h3 class="modal-title">You lose...</h3>
        </div>
        <div class="modal-body">
        <div><alert class="text-center" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg | json}}</alert></div>
        <div class="well">
          You lose against {{mob}}
        </div>

        <div class="modal-footer">
          <button id="share-fb-button" class="btn btn-primary" ng-click="share()">Share with Facebook</button>
          <a href="https://twitter.com/share?hashtags=socialbattlegame&text={{ tweet_text }}&url=http://www.socialbattle.fake.com" class="btn btn-info">Tweet</a>
          <button class="btn btn-error" ng-click="close()">OK</button>
        </div>
  </script>

  <script type="text/ng-template" id="flightModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Warning</h3>
        </div>
        <div class="modal-body">
        <div class="well">
          A battle is active. Do you really want to flight?
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="close()">No, I will stay</button>
          <button class="btn btn-error" ng-click="flight()">FLIGHT</button>
        </div>
  </script>

  <script type="text/ng-template" id="deadModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Ops!</h3>
        </div>
        <div class="modal-body">
        <div class="well">
          We are sorry, but {{ character }} is currently dead... You will be 
          redirected to {{ character }} panel...
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="close()">OK</button>
        </div>
  </script>
</div>

<a class="twitter-timeline" href="https://twitter.com/search?q=%23socialbattlegame" data-widget-id="473822394876825600">Tweet su "#socialbattlegame"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>