<div class="jumbotron">
<h2 class="text-center">The merchant</h2>
  <div class="row">
    <div class="col-md-2" style="overflow:auto; height: 300px">
      <ul ng-if="action == 'BUY'" class="nav nav-pills nav-stacked">
        <li class="disabled"><a href="#">We sell - {{ character.guils }}G</a></li>
        <li ng-repeat="item in buy_items"><a href="" ng-click="put_item(item.name)"
          popover="{{item.description}}" popover-trigger="mouseenter">
          {{ item.name }}</a></li>
      </ul>
      <ul ng-if="action == 'SELL'" class="nav nav-pills nav-stacked">
        <li class="disabled"><a href="#">You sell - {{ character.guils }}G</a></li>
        <li ng-repeat="item in sell_items"><a href="" ng-click="put_item(item.item.name)"
          popover="{{item.item.description}}" popover-trigger="mouseenter">
          {{ item.item.name }} - {{ item.quantity }}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div scroll-glue style="overflow:auto; height: 300px">
        <div class="container-fluid">
          <div class="row" ng-repeat="msg in messages">

            <div ng-if="msg.from_merchant"> <!-- MERCHANT -->
              <div class="col-md-6">
                <div class="alert alert-info text-left">
                  {{ msg.content }}
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>

            <div ng-if="msg.from_user"> <!-- CHARACTER -->
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <div class="alert alert-success text-right">
                  {{ msg.content }}
                </div>
              </div>
            </div>

            <div ng-if="msg.info"> <!-- INFO -->
              <div class="col-md-12">
                <div class="alert alert-warning text-center">
                  {{ msg.content }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

     <form class="form" ng-submit="send()">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="toggle_action()">{{ action }}</button>
          </span>
          <input ng-if="action == 'BUY' && state == ai.INIT" autocomplete="off" type="text" class="form-control"
            typeahead="item.name for item in buy_items | filter:$viewValue"
            ng-model="msgForm.content"
            name="content" autofocus/>
          <input ng-if="action == 'SELL' && state == ai.INIT" autocomplete="off" type="text" class="form-control"
            typeahead="item.item.name for item in sell_items | filter:$viewValue"
            ng-model="msgForm.content"
            name="content" autofocus/>
          <input ng-if="state != ai.INIT" type="text" class="form-control"
            ng-model="msgForm.content"
            name="content" autofocus/>

          <span class="input-group-btn" ng-if="state != ai.INIT">
            <button class="btn btn-default" type="button" ng-click="ai.reset()">Cancel</button>
          </span>
        </div>
      </div>
    </form>  
  </div>
</div>

<script type="text/ng-template" id="transactionModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Congrats, You performed a transaction!</h3>
    </div>
    <div class="modal-body">
        The merchant says:
        <div class="well">Well done! {{ user }} using {{ character }} {{ action }} some {{item}} @ {{ shop }}!</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary disabled" ng-click="share()">Share with Facebook</button>
        <button class="btn btn-error" ng-click="close()">Close</button>
    </div>
</script>

<div ui-view></div>