<div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="characterForm.name" name="name" />
     <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="create_character()">Create</button>
    </span>
  </div>
</div>

<div class="row">
  <form>
  <div class="col-md-2" ng-repeat="character in characters">
    <div class="thumbnail">
      <img ng-src="{{ character.img }}">
      <div class="caption text-center">
        <div ng-if="$storage.user.username == user.username">
          <input type="radio" name="character" ng-click="select(character)" ng-if="$storage.character.name == character.name" checked>
          <input type="radio" name="character" ng-click="select(character)"  ng-if="$storage.character.name != character.name">
        </div>
        <a ui-sref="character({ name: character.name})">
        	{{ character.name }}
        </a> - {{ character.level }}
      </div>
    </div>
  </div>
  </form>
</div>

<div ui-view></div>