<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="panel panel-info" ng-repeat="post in posts">
      <div class="panel-heading">
          <div class="panel-title">

<div class="row">
  <div class="col-md-9">
      <a class="h2" ui-sref="user({ username: post.author_username })">
        {{ post.author_username }}</a>@<a href="#">{{ post.room_name }}</a> said:
  </div>

  <div class="col-md-3">
    {{ post.time }}
  </div>
</div>
          </div>
      </div>
      <div class="panel-body">
        <p>{{ post.content }}</p>
        <p><a ui-sref="user.posts.comments({username: post.author_username, post_id: post.id})">Comments</a></p>
      </div>

      
      <div ui-view></div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>