<nav class="navbar">
<div class="row">
	<div class="col-md-2"><img class="img-thumbnail" src="{{user.img}}"></div>
	<div class="col-md-9"><h3>{{ user.first_name }} {{ user.last_name }} ({{user.username}})</h3></div>
</div>
<br/>
<div class="row">
	<ul class="nav nav-tabs nav-justified">
		<li class="active">
			<a data-toggle="tab" data-target="#" ng-click="go('user.posts')">Posts</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#" ng-click="go('user.following')">Following <span class="badge">{{user.no_following}}</span></a>
		</li>
	  	<li>
	  		<a data-toggle="tab" data-target="#" data-toggle="tab" ng-click="go('user.followers')">Followers <span class="badge">{{user.no_followers}}</span></a>
	  	</li>
		<li>
			<a data-toggle="tab" data-target="#" data-toggle="tab" ng-click="go('user.characters')">Characters</a>
		</li>
	</ul>
</div>
</nav>

<div class="container">
	<div ui-view></div>
</div>