<nav class="navbar">
<div class="row">
	<div class="col-md-2"><img class="img-thumbnail" ng-src="{{ user.img }}"></div>
	<div class="col-md-10"><h3>{{ user.first_name }} {{ user.last_name }} ({{user.username}})</h3>
		<button type="button" class="btn btn-default" ng-click="follow()" ng-if="!alreadyFollowing && !isMe">follow</button>
		<button type="button" class="btn btn-default" ng-click="unfollow()" ng-if="alreadyFollowing && !isMe">unfollow</button>
	</div>
</div>
<br/>
<div class="row">
	<tabset justified="true">
		<tab><tab-heading>
			<a ui-sref="user.posts">Posts</a>
		</tab-heading></tab>
		<tab><tab-heading>
			<a ui-sref="user.following">Following <span class="badge">{{user.no_following}}</span></a>
		</tab-heading></tab>
	  	<tab><tab-heading>
	  		<a ui-sref="user.followers">Followers <span class="badge">{{user.no_followers}}</span></a>
	  	</tab>
		<tab><tab-heading>
			<a ui-sref="user.characters">Characters</a>
		</tab-heading></tab>
	</ul>
</div>
</nav>

<div ui-view></div>
